div.tinyheader{
   display:block;
   background: #EAEAEA;
   height: 16px;
   text-align: center;
   font-size: 10px;
}
div.tinyheadercenter{
   display:inline-block;
   height:100%;
   margin: 0 auto;
}
div.tinyheadercenter a{
   background: #334433;
   color: #ddd;
   padding: 2px 4px;
   margin : 0 4px;
   text-decoration: none;
}

.msg-wrap{
   display: block;
   text-align:center;
}
.msg{
   color: #d0d0d0;
   background: #381818;
   margin: 0 auto;
   max-width: 45%;
   display: inline-block;
   border:2px solid black;
   padding: 3px;
   font-size: 25px;
}

.colors-light-on-dark {
   color: #cccccc;
   background: #113322;
}
.middoform{
   display: inline-block;
}
.welcome{
   display: inline-block;
   max-width: 42%;
   padding: 20px;
   border: 3px solid black;
}
.rounded-corners {
   -moz-border-radius: 20px;
   -webkit-border-radius: 20px;
   -khtml-border-radius: 20px;
   border-radius: 20px;
}


div.wrapperblock{
   margin: 0 auto;
   text-align: center;
   min-width: 250px;
   max-width: 95%;
}
div.cinderblock{
   width: 100%;
   display: table;
   table-layout: fixed;
   margin: 8px;
}
div.fooblock{
   display: table-cell;
}
div.leftoblock{
   display: table-cell;
   width: 160px;
   background-color: rgba(143, 167, 159, 0.71);
   text-align:center;
   vertical-align:top;
}
div.middoblock{
   display: table-cell;
   width: 60%;
   padding: 8px;
   vertical-align:middle;
   text-align:center;
}
div.rightoblock{
   display: table-cell;
   width: 340px;
   /*background: DarkGreen;*/
   vertical-align:top;
}

ul.ui-tabs-nav{
   background:none;
}
.ui-tabs .ui-tabs-nav li a ,
.ui-tabs .ui-tabs-nav {
   padding: 0 0;
   background:none;
}
.ui-widget-header {
   border:0;
}

.ui-tabs .ui-tabs-panel {
   padding: .1em .1em;
   font-size: 0.7em;
   background:none;
}
.ui-tabs {
   background:none;
}

.sock-event-box{
   /*word-break:break-all;*/
   word-wrap: break-word;
   background: LightGrey;
   min-height:400px;
   max-height:600px;*/
   /* width: 100%; */
   border: 1px solid black;
   overflow-y:scroll;
   overflow-x:hidden;
   /*float:right;*/
}

div#time-machine{
   border: 1px solid black;
   min-height: 80px;
   margin: 8px;
   padding: 10px !important;
}
div#time-slider{
   border: 1px solid black;
   min-height: 10px;
   min-width: 10px;
}


div.time-controls{
   display:table;
   width: 100%
}
.tcontrol{
   display:table-cell;
   width: 35px;
   height: 35px;
   background-size: 100% !important;
}
#bbackb{
   background: url(/127162-simple-black-square-icon-media-a-media23-arrows-seek-back.png) 50% 50% repeat-x;
}
#backb{
   background: url(/127160-simple-black-square-icon-media-a-media21-arrow-back.png) 50% 50% repeat-x;
}
#forwb{
   background: url(/127161-simple-black-square-icon-media-a-media22-arrow-forward1.png) 50% 50% repeat-x;
}
#fforwb{
   background: url(/127163-simple-black-square-icon-media-a-media24-arrows-seek-forward.png) 50% 50% repeat-x;
}

html, body {
   height: 100%;
   width: 100%;
   margin:0;
}

body{
   background: #171a33; /* Old browsers */
   background: -moz-linear-gradient(left, #171a33 0%, #000000 28%, #000000 58%, #253a1f 100%); /* FF3.6+ */
   background: -webkit-gradient(linear, left top, right top, color-stop(0%,#171a33), color-stop(28%,#000000), color-stop(58%,#000000), color-stop(100%,#253a1f)); /* Chrome,Safari4+ */
   background: -webkit-linear-gradient(left, #171a33 0%,#000000 28%,#000000 58%,#253a1f 100%); /* Chrome10+,Safari5.1+ */
   background: -o-linear-gradient(left, #171a33 0%,#000000 28%,#000000 58%,#253a1f 100%); /* Opera 11.10+ */
   background: -ms-linear-gradient(left, #171a33 0%,#000000 28%,#000000 58%,#253a1f 100%); /* IE10+ */
   background: linear-gradient(to right, #171a33 0%,#000000 28%,#000000 58%,#253a1f 100%); /* W3C */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#171a33', endColorstr='#253a1f',GradientType=1 ); /* IE6-9 */
}
.sorta-hidden{
   position: absolute !important;
   top: -9999px !important;
   left: -9999px !important;
}

a:link{
   color: #bb662F;
}
a:visited, a:hover {
   color: #bb2F2F;
}
a:active {
   color: #aaaaaa;
}


.special-button {
   -moz-box-shadow:inset 0px 1px 0px 0px #4f4f4f;
   -webkit-box-shadow:inset 0px 1px 0px 0px #4f4f4f;
   box-shadow:inset 0px 1px 0px 0px #4f4f4f;
   background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #373b52), color-stop(1, #2b2e25) );
   background:-moz-linear-gradient( center top, #373b52 5%, #2b2e25 100% );
   filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#373b52', endColorstr='#2b2e25');
   background-color:#373b52;
   -moz-border-radius:6px;
   -webkit-border-radius:6px;
   border-radius:6px;
   border:1px solid #2e2e2e;
   display:inline-block;
   color:#e0e0e0;
   font-family:Arial;
   font-size:16px;
   font-weight:bold;
   padding:6px 9px;
   text-decoration:none;
   text-shadow:1px 1px 0px #5c5c5c;
}.special-button:hover {
   background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #2b2e25), color-stop(1, #373b52) );
   background:-moz-linear-gradient( center top, #2b2e25 5%, #373b52 100% );
   filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2b2e25', endColorstr='#373b52');
   background-color:#2b2e25;
}.special-button:active {
   position:relative;
   top:1px;
}
.special-button:active {
   color: #222;
}
.special-button:hover ,
.special-button:link , .special-button:visited{
   color: #ddd;
}
/* This imageless css button was generated by CSSButtonGenerator.com */


/* HAPPY! */

.happy-chat-messages{
   color: #FFFBC8;
   background: #011013;
   margin: 0 auto;
   min-height: 200px;
   max-height: 400px;
   width:98%;
   display: block;
   border:2px solid black;
   padding: 2px;
   overflow-y:scroll;
}
.happy-message{
   margin:0;
   padding:0;
   clear:both;
   overflow: hidden;
   border: 2px solid #161A17;
   margin: 2px;
}
.happy-submessage-body{
   width: 73%;
   float:left;
   /*word-break:hyphenate;*/
   word-wrap: break-word;
   text-align: left;
}
.happy-submessage-time{
   width: 23%;
   float:right;
}

.happy-input-field{
   min-width: 55%;
}


.welcome-happy-chat{
   max-width: 55em;
   max-height: 7em;
   margin: 0 auto;
}
.welcome-happy-chat .happy-chat-messages{
   max-height: 300px;
}



div.rel-right{right:0}
div.rel-left{left:0}
div.players-panel{
   position:relative;
   width:100%;
   margin:0; padding:0;
   /* height:10em; /* set this dynamically.... with... an interface object.....*/
}
div.players-panel-player{
   border:0; /* 1px solid black; */
   display:inline-block;
   margin:0; padding:0;
   width:50%;
/*   height:100%; */
   position:absolute;
}
img.players-panel-giant-stone{
   width:100%;
}
div.shown-turn{
   border: 2px solid black;
}

p{
   margin: .25em; padding: 0;
}
span.captures{
   font-weight:bold;
}


